PORT=5000
NODE_ENV=development

POSTGRES_URL=postgresql://neondb_owner:npg_7i5fwKmOZxXz@ep-spring-hat-aioil14x-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

MONGODB_URI=mongodb+srv://cipheruser:cipherpass123@cipher-sql-studio-clust.tclignq.mongodb.net/?appName=cipher-sql-studio-cluster

OPENAI_API_KEY=your-openai-api-key-here

CORS_ORIGIN=http://localhost:5173
